* {
    box-sizing: border-box;
}

h1 {
    color: #145f14;
}

a {
    color: #145f14;
    text-decoration: none;
    font-weight: bold;
}

img {
    width: 12rem;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
}

.recipe-block, .recipe-block2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.recipe-block:hover {
    background-color: rgba(0,0,0,0.1);
}
.recipe-block2 {
    display: inline-flex;
    width: fit-content;
}

header {
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    font-size: larger;
    padding: 1rem;
}

.spacer {
    height: 3rem;
}

.main-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.clickable-bread {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: green;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: larger;
    padding: 1rem;
}

table tr:nth-child(even) {
    background-color: lightgray;
}
